.idea
.vscode
cmake-build-debug
test/.~lock.*
test/.~lock.testcase.xlsx#
test/.~lock.lizard_testcase.xlsx#
interface/.~lock.bac_interface.docx#
interface/.~lock.sic_interface.docx#
doc/test/.~lock.bac_testcase.xlsx#
