.idea
.vscode
cmake-build-debug
doc/test/.~lock.bac_testcase.xlsx#
doc/test/.~lock.sic_testcase.xlsx#
doc/test/~$bac_testcase.xlsx
doc/test/~$sic_testcase.xlsx
doc/interface/.~lock.bac_interface.docx#
doc/interface/.~lock.sic_interface.docx#
doc/interface/~$c_interface.docx
doc/.~lock.sc_deploy_update.docx#
doc/~$_deploy_update.docx
doc/test/.~lock.key_results.docx#
